.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer__icons {
  display: flex;
  gap: 0.5rem;
}

.footer__sign {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
